@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    background-color: rgb(248, 248, 248);
}
.card { 
    border-radius : 5px; 
}

//Carousel
.carousel { 
    height: 425px;
}

.caloriesHeader {
    border-top: solid 4px black;
    border-bottom: solid 1px black;
}

.caloriesRow {
    border-bottom: solid 1px black;
}

.calorieBorderBox {
    border: 1px solid black;
    margin: 10px;
}

.calorieBold {
    font-weight: bold;
}

.matchColPadding{
    padding-left: .75rem;
    padding-right: .75rem;
}
.nutritionLabelPadding{
    padding-top: .1rem !important;
    padding-bottom: .1rem !important;
}

//Calories Card
.caloriesTitle{
    font-size: 1.5rem;
    font-family: 'Poppins';
}

.caloriesData{
    font-size: 1.1rem;
    font-family: 'Poppins';
}

.caloriesLabel{
    font-size: 1.1rem;
    font-family: 'Poppins';
    color:#bdbdbd;
}

.redColor{
    color: #e57373;
}

.yellowColor{
    color: #ffd54f;
}

.greenColor{
    color: #81c784;
}

.blueColor{
    color: #64b5f6;
}

.pointer{
    cursor: pointer;
}
//Log
.collection-item{
    padding: 0px 5px !important;
}


