.carousel { 
    height: 425px;
}

.caloriesHeader {
    border-top: solid 4px black;
    border-bottom: solid 1px black;
}

.caloriesRow {
    border-bottom: solid 1px black;
}

.calorieBorderBox {
    border: 1px solid black;
    margin: 10px;
}

.calorieBold {
    font-weight: bold;
}

.matchColPadding{
    padding-left: .75rem;
    padding-right: .75rem;
}
.nutritionLabelPadding{
    padding-top: .1rem !important;
    padding-bottom: .1rem !important;
}

