@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@700&family=Exo+2:ital,wght@1,700&family=Righteous&display=swap');
body{
    background-color: rgb(248, 248, 248);
}

.container {
    max-width: 500px !important;
  }
.card { 
    border-radius : 5px; 
}
.poppinsFont{
    font-family: 'Poppins';
}
.adventProFont{
    font-family: 'Advent Pro';
}
.exo2Font{
    font-family: 'Righteous';
}
.righteousFont{
    font-family: 'Exo 2';
}
.redColor{
    color: #e57373;
}

.yellowColor{
    color: #ffd54f;
}

.greenColor{
    color: #81c784;
}

.blueColor{
    color: #64b5f6;
}
.greyColor{
    color: #bdbdbd;
}

.welcomeFontSize{
    font-size: 1.75rem;
}
//Form Colors
.buttonColor{ 
    background-color: #64b5f6 !important; 
} 

input:focus {
    border-bottom: 1px solid #64b5f6 !important;
    -webkit-box-shadow: 0 1px 0 0 #64b5f6 !important;
    -moz-box-shadow: 0 1px 0 0 #64b5f6 !important;
    box-shadow: 0 1px 0 0 #64b5f6 !important;
}
label.active {
    color: #64b5f6 !important;
  }

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
    border: 2px solid #64b5f6 !important;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
    background-color: #64b5f6 !important;
}

.radioPadding {
    padding-left: 25px !important;
    padding-right: 10px !important;
}
//Carousel
.carousel { 
    height: 425px;
}

.caloriesHeader {
    border-top: solid 4px black;
    border-bottom: solid 1px black;
}

.caloriesRow {
    border-bottom: solid 1px black;
}

.calorieBorderBox {
    border: 1px solid black;
    margin: 10px;
}

.calorieBold {
    font-weight: bold;
}

.matchColPadding {
    padding-left: .75rem;
    padding-right: .75rem;
}
.nutritionLabelPadding {
    padding-top: .1rem !important;
    padding-bottom: .1rem !important;
}

//Calories Card
.caloriesTitle {
    font-size: 1.5rem;
    font-family: 'Poppins';
}

.caloriesData {
    font-size: 1.1rem;
    font-family: 'Poppins';
}

.caloriesLabel {
    font-size: 1.1rem;
    font-family: 'Poppins';
    color:#bdbdbd;
}

.pointer {
    cursor: pointer;
}
//Log
.collection-item {
    padding: 0px 5px !important;
}

.removeRowMargin {
    margin-bottom: 0px;
}
